<div class="jumbotron jumbotron-fluid">
  <div class="overlay loading" *ngIf="web3Service.network == 'loading'">
    <p>Network is loading ...</p>
  </div>
  <div class="overlay"
    *ngIf="web3Service.network != 'loading' && web3Service.network != '3' && web3Service.network != '5777'">
    <p *ngIf="web3Service.network == 'disconnected'">Please use a browser like Brave or MetaMask plugin for
      Chrome/Firefox.</p>
    <p *ngIf="web3Service.network != 'disconnected'">Only available on ropsten network! Please change network in
      metamask.</p>
  </div>
  <div class="container">
    <h4><a href="https://ropsten.etherscan.io/address/{{ betService.getContractAddress() }}"
        target="_blank">{{ betService.getContractAddress() }}</a>&nbsp;<a
        href="https://github.com/mawize/CoinFlipContract" target="_blank"><img src="/assets/images/github.png"
          style="width: 1em; margin-bottom: 0.25em;"></a></h4>
    <h1 class="display-4">CoinFlipper DApp</h1>
    <h2 *ngIf="web3Service.account">Flip the coin ...</h2>
    <div *ngIf="web3Service.account" style="text-align: right;">
      <p class="lead">{{ web3Service.accountBalance }} Ether</p>
      <img src="https://robohash.org/{{ web3Service.account.toLowerCase() }}" width="150"
        title="{{ web3Service.account }}" style="float: right; border-radius: 50%;"
        [ngStyle]="{ 'background-color': colorFromAddr(web3Service.account.toLowerCase(), 0.3)}">
    </div>
    <button type="button" id="connect" class="btn btn-success" (click)="connect($event)"
      *ngIf="!web3Service.account && web3Service.network != 'loading'">Connect!</button>
  </div>
</div>
<div class="container" *ngIf="web3Service.account">
  <div>
    <div id="bet_container" class="input-group">
      <div id="minicoin" (click)="minicoinClicked($event)">
        <div class="side-a"></div>
        <div class="side-b"></div>
      </div>
      <input [(ngModel)]="betinputvalue" type="number" class="form-control" id="betinputvalue"
        placeholder="I love ether!" (change)="valuechanged($event)">
      <span class="input-group-btn">
        <button type="button" id="flip_button" class="btn btn-primary" (click)="flipButtonClicked($event)">Create
          Bet</button>
      </span>
    </div>
  </div>
  <div *ngIf="betService.bets.length">

    <h2>Bets {{betService.bets.length}}</h2>
    <div *ngFor="let bet of betService.bets" class="betcontainer3">
      <div class="betcontainer3-coin">
        <div *ngIf="bet.state == 1" id="minicoin-bet" [ngClass]="{'flipping': bet.state == 1}">
          <div class="side-a"></div>
          <div class="side-b"></div>
        </div>
        <div *ngIf="bet.state != 1"><img src="/assets/images/{{ bet.heads ? 'heads' : 'tails'}}.png"
            title="{{ bet.heads ? 'heads' : 'tails'}}"></div>

      </div>
      <div class="betcontainer3-details">
        <div class="title" [ngStyle]="{ 'background-color': colorFromAddr(bet.addr, 0.3)}">
          <span class="left"><a href="https://ropsten.etherscan.io/address/{{ bet.addr }}"
              target="_blank">{{ bet.addr }}</a></span>
          <button type="button" name="button" class="btn btn-success right" (click)="betService.joinButtonClicked(bet)"
            *ngIf="bet.state == 0 && !iAmOwner(bet.owner)">Bet
            {{ bet.amount }} Ether</button>
          <button type="button" name="button" class="btn btn-danger right" (click)="betService.cancelButtonClicked(bet)"
            *ngIf="bet.state == 0 && iAmOwner(bet.owner)">Cancel Bet</button>
          <button type="button" name="button" class="btn btn-success right" (click)="betService.claimButtonClicked(bet)"
            *ngIf="bet.state == 2 && iAmOwner(bet.owner)">Claim
            {{ bet.value }} Ether</button>
          <button type="button" name="button" class="btn btn-success right"
            (click)="betService.collectButtonClicked(bet)" *ngIf="bet.state == 3 && iAmOwner(bet.owner)">Collect
            {{ bet.balance }} Ether</button>
        </div>

        <div class="text" *ngIf="bet.state == 0 && bet.starter"> <img
            src="https://robohash.org/{{ bet.starter.toLowerCase() }}" title="{{ bet.starter }}"
            [ngStyle]="{ 'background-color': colorFromAddr(bet.starter.toLowerCase(), 0.3)}"> wants to
          bet {{bet.amount}} Ether on
          <img src="/assets/images/{{ bet.heads ? 'heads' : 'tails'}}.png" title="{{ bet.heads ? 'heads' : 'tails'}}">
        </div>

        <div class="text" *ngIf="bet.state == 1"> The coin is spinning for the bet by <img
            src="https://robohash.org/{{ bet.starter.toLowerCase() }}" title="{{ bet.starter }}"
            [ngStyle]="{ 'background-color': colorFromAddr(bet.starter.toLowerCase(), 0.3)}"> on <img
            src="/assets/images/{{ bet.heads ? 'heads' : 'tails'}}.png" title="{{ bet.heads ? 'heads' : 'tails'}}">
          against <img src="https://robohash.org/{{ bet.joiner.toLowerCase() }}" title="{{ bet.joiner }}"
            [ngStyle]="{ 'background-color': colorFromAddr(bet.joiner.toLowerCase(), 0.3)}">
        </div>

        <div class="text" *ngIf="bet.state > 1 && bet.state != 5 "> This bet by <img
            src="https://robohash.org/{{ bet.starter.toLowerCase() }}" title="{{ bet.starter }}"
            [ngStyle]="{ 'background-color': colorFromAddr(bet.starter.toLowerCase(), 0.3)}"> on <img
            src="/assets/images/{{ bet.heads ? 'heads' : 'tails'}}.png" title="{{ bet.heads ? 'heads' : 'tails'}}">
          against <img src="https://robohash.org/{{ bet.joiner.toLowerCase() }}" title="{{ bet.joiner }}"
            [ngStyle]="{ 'background-color': colorFromAddr(bet.joiner.toLowerCase(), 0.3)}"> was won by <img
            src="https://robohash.org/{{ bet.winner.toLowerCase() }}" title="{{ bet.winner }}"
            [ngStyle]="{ 'background-color': colorFromAddr(bet.winner.toLowerCase(), 0.3)}">
        </div>

        <div class="text" *ngIf="bet.state == 5"> This bet on <img
            src="/assets/images/{{ bet.heads ? 'heads' : 'tails'}}.png" title="{{ bet.heads ? 'heads' : 'tails'}}"> was
          canceled by <img src="https://robohash.org/{{ bet.starter.toLowerCase() }}" title="{{ bet.starter }}"
            [ngStyle]="{ 'background-color': colorFromAddr(bet.starter.toLowerCase(), 0.3)}">
        </div>
        <div class="time-right">{{ bet.state > 0 ? bet.value : bet.balance }} Ether</div>
      </div>
      <!--
      <div>
        <span>Owner: {{ bet.owner }}</span><br />
        <span>State: {{ bet.state }}</span><br />
        <span>Starter: {{ bet.starter }}</span><br />
        <span>Joiner: {{ bet.joiner }}</span><br />
        <span>Amount: {{ bet.amount }}</span><br />
        <span>Value: {{ bet.value }}</span><br />
        <span>Winner: {{ bet.winner }}</span>
    </div>
                // 0 = 'open'
                // 1 = 'closed'
                // 2 = 'claimed'
                // 3 = 'done'
            -->

    </div>
  </div>
</div>